<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-742681">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-742681">
					</li>
					<li data-slide-to="1" data-target="#carousel-742681">
					</li>
					<li data-slide-to="2" data-target="#carousel-742681">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://wallpapersdsc.net/wp-content/uploads/2016/09/Junk-Food-HD-Background.jpg" />
						<div class="carousel-caption">
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://www.magic4walls.com/wp-content/uploads/2013/12/dessert-sweet-table-food-hd-wallpaper.jpg" />
						<div class="carousel-caption">
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://www.freestockphotos.name/wallpaper-original/wallpapers/italian-food-2322.jpg" />
						<div class="carousel-caption">
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-742681" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-742681" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>