<center><h1>About Us</h1></center>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    <p><b>The Engineers: Sonny Banh, Peijmon Kasravi, Nicholas Mangoba, Branden Caasi</b></p>
		    <p>We started this project because we've always had problems with seating at restaurants. We wanted to try to revolutionize things by making things simple. So we created BEST Dining.</p>
		 </div>
	</div>
</div>
