<p>
  <strong>Name:</strong>
  <%= @reservation.title %>
</p>
 
<p>
  <strong>Seats:</strong>
  <%= @reservation.text %>
</p>

<p>
    <strong>Time:</strong>
    <%= @reservation.time %>
</p>
 

 

<%= link_to 'Back', reservations_path %>